@import url("https://use.typekit.net/owe2mcd.css");

html {
    scroll-behavior: smooth;
}

body {
    font-family: Industry;
}

:root {
    --main-color: rgb(17, 17, 17);
    --secondary-color: rgb(65, 11, 11);
    --tertiary-color: rgb(241, 241, 241);
    --fourth-color: rgb(78, 207, 18);

}

/* HEADER */
.header {
    background: transparent;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    top: 0;

}

.black {
    background-color: rgba(0, 0, 0, 0.5)
}

.header__img {
    width: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* BACKGROUND VIDEO */
.video__div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video__div video {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SINGLE COVER */
.cover {
    position: relative;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    padding-bottom: 8em;
}

.cover__img {
    border: outset white 0.2em;
    margin-top: 11em;
    width: 330px;
}

h3 {
    position: absolute;
    color: var(--tertiary-color);
    text-transform: uppercase;
    margin-top: 10.5em;
    padding: 1.5em;
    font-size: 32px;
    animation: glitch1 2.5s infinite;
}

#glitch:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

#glitch:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

/* KEYFRAMES */

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

h4 {
    position: absolute;
    color: var(--tertiary-color);
    text-transform: uppercase;
    margin-top: 18.5em;
    padding: 1em;
    font-weight: lighter;
    font-size: 22px;
}

/* bandcamp widget */
iframe {
    position: absolute;
    bottom: 0;
    border: 0;
    width: 11%;
    height: 42px;
}


/* BUTTONS */
.btn {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3em;
    width: 200px;
    border-radius: 20px;
    margin: auto;
    display: block;
    border: none;
    background-color: var(--fourth-color);
    color: var(--tertiary-color);
    margin-top: -1em;
    transition: all 0.3s ease-out;

}

.btn:hover {
    background-color: var(--secondary-color);
}

/* LINK */
a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
}


a:active {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* ARROW */
.arrow,
.arrow:before {
    position: absolute;
    left: 46%;
}

.arrow {
    width: 40px;
    height: 40px;
    bottom: 5%;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px var(--tertiary-color) solid;
    border-bottom: 2px var(--tertiary-color) solid;
}

.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px var(--tertiary-color) solid;
    border-bottom: 1px var(--tertiary-color) solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

/* Scroll down */

.scroll {
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);

}

/* OFFICIAL VIDEO */

.video__section {
    background-color: var(--main-color);
    background-image: url(images/bg.png);
    padding-top: 16em;
    padding-bottom: 5em;
}

.text__caption {
    position: relative;
    color: var(--tertiary-color);
    text-transform: uppercase;
    text-align: center;
    padding: 3em;
    font-size: 23px;
}

.video__bg-whole {
    width: 320px;
    display: block;
    margin: auto;
}

.box {
    width: 60%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 65px/400px;
    color: var(--tertiary-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
  }
  
  .btn-change {
    font-size: 1em;
    margin-top: 2em;
    padding: 10px;
    font-size: 10px;
    width: 100px;
    border: 2px solid var(--fourth-color);
    background: var(--main-color);
  }

  .btn-change:hover {
      background: var(--fourth-color);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
      margin: auto;
      margin-top: 8em;
    padding: 20px;
    background: var(--tertiary-color);
    border-radius: 5px;
    width: 80%;
    height: 40%;
    position: relative;
    transition: all 1s ease-in-out;
  }
  .video-popup {
      width: 100%;
      height: 100%;
}
  
  .popup h2 {
    margin-top: 0;
    color: var(--main-color);
    font-size: 15px;
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
  }
  .popup .close:hover {
    color: var(--fourth-color);
  }
  .popup .content {
    max-height: 100%;
    overflow: auto;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  


  
/* SOME ICONS */

.some__section {
    padding-top: 0em;
    padding-bottom: 3.5em;
    background-image: url(images/bg-2.png);
    display: flex;
    justify-content: center;
}

.text__glitch-header {
    position: absolute;
    color: var(--tertiary-color);
    text-transform: uppercase;
    padding: 3em;
    font-size: 28px;
    animation: glitch1 2.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
    width: 60px;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 25em;
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.1);
}


/* EMAIL */
.form {
    position: absolute;
    margin-top: 12em;
    display: flex;
    justify-content: center;
}

.form-submit {
    margin-top: 18em;
}

/* maybe we'll add this
input {
    font-weight: bold;
}
*/

#email {
    width: 270px;
    height: 50px;
}

/* FOOTER */
footer {
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
}

.p__footer {
    text-align: center;
    padding-top: 1.7em;
    font-size: 12px;
    color: var(--tertiary-color);
}

/*TABLET*/
@media only screen and (min-width:766px) {

    /*COVER*/
    .cover__img {
        width: 480px;
        margin-top: 12.5em;
    }

    h3 {
        margin-top: 11em;
        font-size: 40px;
    }

    h4 {
        margin-top: 21em;
        font-size: 25px;
    }

    /* bandcamp widget */
    iframe {
        position: absolute;
        bottom: 0;
        border: 0;
        width: 28%;
        height: 42px;
    }

    /* VIDEO OFFICIAl */
    .video__section {
        padding-top: 22em;
    }

    .text__caption {
        padding: 3em;
        font-size: 30px;
    }

    .video__bg-whole {
        width: 550px;
        display: block;
    }

    /*SOME*/
    .some__section {
        margin-top: -18em;
        padding-bottom: 3.5em;
        background-image: url(images/bg-2.png);
        display: flex;
        justify-content: center;
    }
}

/*LAPTOP*/
@media only screen and (min-width:1270px) {

    /* COVER */
    .cover__img {
        width: 415px;
        margin-top: 3.5em;
        margin-left: -1em;
    }

    .cover {
        margin-left: 18em;
        padding-top: 8em;
        display: block;
    }

    h3 {
        margin-top: 0.1em;
        margin-left: 8.2em;
        font-size: 48px;
    }

    h4 {
        margin-left: 20.3em;
        margin-top: 5.5em;
        font-size: 22px;
    }

    /* bandcamp widget */
    iframe {
        position: absolute;
        bottom: 0;
        border: 0;
        width: 80%;
        height: 42px;
    }

    /* OFFICIAL VIDEO */
    .video__bg-whole {
        width: 700px;
    }

    .text__caption {
        font-size: 38px;
        padding-bottom: 3.5em;
    }

    .video__section {
        padding-top: 11em;
    }

    /* Buttons */
    .btn-laptop {
        font-size: 23px;
        padding: 0.4em;
        width: 210px;
        margin-bottom: 9em;
        margin-left: 32.8em;
        margin-top: -9.5em;
    }

    /* ARROW */
    .arrow,
    .arrow:before {
        left: 49%;
    }

    /*widget*/
    iframe {
        width: 20%;
    }

    /*pop up*/
    .popup {
width: 40%;
height: 55%;
    }

    .text__caption {
        font-size: 25px;
    }

    /*SOME*/
    .some__section {
        padding-top: 15em;
    }

    .text__glitch-header {
        font-size: 48px;
    }

    .icon {
        width: 60px;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 30em;
        transition: transform .2s;
    }

    /* EMAIL */
    .form {
        margin-top: 18em;
        display: flex;
        justify-content: center;
    }

    .form-submit {
        margin-top: 23.8em;
    }

    #email {
        width: 330px;
        text-transform: uppercase;
        font-weight: bold;
    }

}

/* DESKTOP */
@media only screen and (min-width:1919px) {

    .header__img {
        width: 130px;
    }

    /* COVER */
    .cover__img {
        width: 580px;
        margin-top: 3.5em;
        margin-left: 0em;
    }

    .cover {
        margin-left: 18em;
        padding-top: 13em;
    }

    h3 {
        margin-top: -0.5em;
        margin-left: 7em;
        font-size: 75px;
    }

    h4 {
        margin-left: 20.5em;
        margin-top: 5em;
        font-size: 30px;
    }


    /* BUTTON */
    .btn-laptop {
        font-size: 30px;
        width: 250px;
        margin-left: 31.1em;
        margin-top: -8.5em;
    }

    /* VIDEO */
    .video__bg-whole {
        width: 855px;
    }

    .text__caption {
        font-size: 39px;
        padding-bottom: 3em;
    }

    .video__section {
        padding-top: 8em;
    }

    /*pop up*/
    .popup {
        width: 45%;
        height: 58%;
            }
    /*SOME*/
    .some__section {
        padding-top: 17em;
    }
}