@import url("https://use.typekit.net/owe2mcd.css");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: Industry;
}

:root {
    --main-color: rgb(17, 17, 17);
    --secondary-color: rgb(65, 11, 11);
    --tertiary-color: rgb(241, 241, 241);
    --fourth-color: rgb(78, 207, 18);

}

/* HEADER */
header {
    background: transparent;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    
}

/*maybe*
.header__name {
    color: var(--fourth-color);
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'VT323', monospace;
    margin-top: -0.5em;
    margin-left: 29.5em;
}
*/

.header__img {
    width: 105px;
    cursor: pointer;
margin-left: auto;
    margin-right: auto;
    display: block;
    /*maybe if i need the other one
    margin-left: 52em; */
}

.header__img:hover {
    border: solid var(--fourth-color);
}

/* BACKGROUND VIDEO */
.video__div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video__div video {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SINGLE COVER */
.cover {
    position: relative;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    padding-bottom: 8em;
}

.cover__img {
    border: outset white 0.2em;
    margin-top: 12em;
    width: 400px;
}

h3 {
    position: absolute;
    color: var(--tertiary-color);
    text-transform: uppercase;
    margin-top: 13em;
    padding: 1.5em;
    font-size: 32px;
    animation: glitch1 2.5s infinite;
}

h3:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

h3:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

/* KEYFRAMES */

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

h4 {
    position: absolute;
    color: var(--tertiary-color);
    text-transform: uppercase;
    margin-top: 22em;
    padding: 1em;
    font-weight: lighter;
    font-size: 22px;
}

/* What the hell am i doing here */
iframe {
    position: absolute;
    bottom: 0;   
    border: 0; 
    width: 80%; 
    height: 42px;
}


/* BUTTONS */
.btn {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3em;
    width: 200px;
    border-radius: 20px;
    margin: auto;
    display: block;
    border: none;
    margin-bottom: 2em;
    margin-top: 1em;
    background-color: var(--fourth-color);
    color: var(--tertiary-color);
}

.btn-action {
    background-color: var(--secondary-color);
    font-size: 23px;

}

.btn:hover {
    background-color: var(--secondary-color);
}

/* LINK */
a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

/* ARROW */
.arrow,
.arrow:before {
  position: absolute;
  left: 46%;
}

.arrow {
  width: 40px;
  height: 40px;
  bottom: 5%;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/* Scroll down */

p {
    position: relative;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;

}

/* OFFICIAL VIDEO */

.video__section {
    background-color: var(--main-color);
    padding-top: 7em;
    padding-bottom: 5em;
}

h2 {
    position: relative;
    color: var(--tertiary-color);
    text-transform: uppercase;
    text-align: center;
    padding: 3em;
    font-size: 33px;
}

.video__bg-whole {
    width: 400px;
    display: block;
    margin: auto;
}

/* SOME ICONS */

.some__section {
    padding-top: 0em;
    padding-bottom: 4em;
}

.some__div {
    display: flex;
    justify-content: center;
}

.icon {
    width: 60px;
    margin-left: 1em;
    margin-right: 1em;
}

/* FOOTER */
footer {
    height: 80px;
    width: 100%;
    background-color: var(--fourth-color);   
}

.p__footer {
text-align: center; 
padding-top: 1.7em;
}

@media only screen and (min-width:1279px) {
/* COVER */
    .cover__img {
        width: 580px;
        margin-top: 3.5em;
    }

    .cover {
        margin-left: 18em;
        padding-top: 15em;
        display: block;
    }

    h3 {
        margin-top: -0.5em;
        margin-left: 7em;
        font-size: 75px;
    }

    h4 {
        margin-left: 20.5em;
        margin-top: 5em;
        font-weight: bold;
        font-size: 30px;
    }

    /* OFFICIAL VIDEO */
    .video__bg-whole {
        width: 950px;
    }

    /* Buttons */
    .btn-laptop {
        font-size: 30px;
        padding: 0.4em;
        width: 250px;
        margin-bottom: 9em;
        margin-left: 31.1em;
        margin-top: -9.5em;
    }
 
    /* ARROW */
    .arrow,
.arrow:before {
  left: 49%;
}

iframe {
    width: 20%; 
}
}